<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Nota do Filme" [(ngModel)]="nota">
        <ion-select-option value=0>0</ion-select-option>
        <ion-select-option value=1>1</ion-select-option>
        <ion-select-option value=1.5>1.5</ion-select-option>
        <ion-select-option value=2>2</ion-select-option>
        <ion-select-option value=2.5>2.5</ion-select-option>
        <ion-select-option value=3>3</ion-select-option>
        <ion-select-option value=3.5>3.5</ion-select-option>
        <ion-select-option value=4.0>4.0</ion-select-option>
        <ion-select-option value=4.5>4.5</ion-select-option>
        <ion-select-option value=5>5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Genero do Filme" [(ngModel)]="genero">
        <ion-select-option value="Ação">Ação</ion-select-option>
        <ion-select-option value="Aventura">Aventura</ion-select-option>
        <ion-select-option value="Terror">Terror</ion-select-option>
        <ion-select-option value="Suspense">Suspense</ion-select-option>
        <ion-select-option value="Infantil">Infantil</ion-select-option>
        <ion-select-option value="Drama">Drama</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>URL da Imagem:</ion-label>
      <ion-input placeholder="Imagem" [(ngModel)]="imagem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ano de Lançamento" [(ngModel)]="ano_lancamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Fale sobre o filme aqui..." [(ngModel)]="descricao"></ion-textarea>
    </ion-item>
    

  </ion-list>
  <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>

