<ion-header>
  <ion-toolbar>
    <ion-title>Edição do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Habilitar Edição</ion-label>
    <ion-toggle color="success" (ionChange)="alterarEdicao()"></ion-toggle>
  </ion-item>
  <ion-list>
    <form [formGroup]="form_cadastrar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input disabled="{{edicao}}" placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="((errorControl.nome.touched) ||
    (errorControl.nome.dirty) && errorControl.nome.errors)">
        <span *ngIf="errorControl.nome.errors?.required">
          Nome é Obritatório!
        </span>
      </ion-item>
      <ion-item>
        <ion-select disabled="{{edicao}}" placeholder="Genero do Filme" formControlName="genero">
          <ion-select-option value="Ação">Ação</ion-select-option>
          <ion-select-option value="Aventura">Aventura</ion-select-option>
          <ion-select-option value="Terror">Terror</ion-select-option>
          <ion-select-option value="Suspense">Suspense</ion-select-option>
          <ion-select-option value="Infantil">Infantil</ion-select-option>
          <ion-select-option value="Drama">Drama</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="((errorControl.genero.touched) ||
    (errorControl.genero.dirty) && errorControl.genero.errors)">
        <span *ngIf="errorControl.genero.errors?.required">
          Genero é Obritatório!
        </span>
      </ion-item>

      <ion-item>
        <ion-input disabled="{{edicao}}" placeholder="URL da Imagem:" formControlName="imagem"></ion-input>
      </ion-item>
      <ion-item *ngIf="((errorControl.imagem.touched) ||
    (errorControl.imagem.dirty) && errorControl.imagem.errors)">
        <span *ngIf="errorControl.imagem.errors?.required">
            Imagem é Obritatória!
        </span>
    </ion-item>

      <ion-item>
        <ion-input disabled="{{edicao}}" placeholder="Ano de Lançamento" formControlName="ano_lancamento"></ion-input>
      </ion-item>
      <ion-item *ngIf="((errorControl.ano_lancamento.touched) ||
      (errorControl.ano_lancamento.dirty) && errorControl.ano_lancamento.errors)">
          <span *ngIf="errorControl.ano_lancamento.errors?.required">
              Ano de Lançamento é Obritatório!
          </span>
      </ion-item>
      
      <ion-item>
        <ion-textarea disabled="{{edicao}}" placeholder="Fale sobre o filme aqui..." formControlName="descricao">
        </ion-textarea>
      </ion-item>
      <ion-item *ngIf="((errorControl.descricao.touched) ||
      (errorControl.descricao.dirty) && errorControl.descricao.errors)">
          <span *ngIf="errorControl.descricao.errors?.required">
              Descrição é Obritatória!
          </span>
      </ion-item>
      <ion-button disabled="{{edicao}}" expand="block" (click)="editar()">Salvar</ion-button>

    </form>
  </ion-list>

  <ion-button disabled="{{edicao}}" expand="block" (click)="excluir()" color="danger">
    Excluir</ion-button>
</ion-content>